.friend {
  margin-left: 3%;
  display: flex;
  width: 120vh;
  height: 20vh;
  position: relative;
  gap: 20px;
  padding: 5px;
  border: 2px solid rgba(104, 102, 102, 0.419);
  border-radius: 20px;
  background-color: rgba(146, 163, 177, 0.345);
}

.content {
  width: 135vh;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 20px;
  left: 3px;
  top: 3px;
  border: solid 1px rgba(61, 60, 60, 0.392);
  object-fit: cover;
}

.ava {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
