.list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.title{
  font-size: 1.7em;
  font-weight: 800;
  margin-bottom: 10px;
  font-family: 'Nunito';
}