.card_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  max-width: 600px;
  min-width: 450px;
}

.image {
  height: 50px;
  border-radius: 50%;
  border: solid 3px rgba(0, 128, 0, 0.486);
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.button_gray{
  width: 100px;
  height: 30px;
  padding: 5px 10px;
  background-color: rgb(158, 140, 140);
  font-family: 'Nunito';
  font-weight: 800;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.button_gray:hover{
transform: scale(1.10);
}

.profile_wrapper{
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}