.menu {
  min-width: 180px;
  position: sticky; /* Липкое позиционирование */
  top: 0px; /* Фиксируется в верхней части экрана */
  align-self: flex-start; /* Для корректного поведения в flex-контейнере */
  z-index: -1; /* Убедитесь, что меню поверх других элементов */
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: solid 5px rgba(0, 128, 0, 0.486);
  object-fit: cover;
}

.textMenu {
  font-family: 'Nunito';
}

.textava {
  font-family: 'Nunito';
  font-weight: 1000;
  margin-top: 10px;
  font-size: 20px;
  width: 100px;
  flex-wrap: wrap;
}

.red {
  cursor: pointer;
  width: min-content;
  color: rgb(107, 115, 122);
  font-family: 'Nunito';
}
