.notFound {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.linka {
  background-color: rgb(231, 164, 50);
  padding: 15px;
  color: black;
  border-radius: 30px;
}
